h1{
    color: #cccccc
    grid-column-start: 1;
    grid-column-end: 11;
}

  li {
    display: inline;
  }

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 16px;
  padding: 0;
  background: #666666;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}