header{
    color: #cccccc;
    grid-column-start: 1;
    grid-column-end: 12;
}

.topnav{
   background-color: #cccccc;
   text-align: center;
   grid-column-start: 8;
   grid-column-end: 11;
}

  li {
    display: inline;
    padding: .5em;
  }

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  background: #666666;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
  padding: none;
}

.backgroundimagearea {
  background-image: url("images/Newspapers.jpg");
  background-repeat: no-repeat;
  background-position-x: center top;
  size: 9fr;
  grid-column-start: 2;
  grid-column-end: 11;
}

.maintext {
  font-size: 400%;
  grid-column-start: 3;
  grid-column-end: 10;
  text-align: center;
}

.form {
  grid-column-start: 3;
  grid-column-end: 10;
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;;
}

p.credits {
  font-size: 75%;
  color: #cccccc;
  grid-column-start: 2;
  text-align: left;
}