h1{
    color: #cccccc
    grid-column-start: 1;
    grid-column-end: 11;
}

  li {
    display: inline;
  }

body {
  background: #666666;
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}